<h1>Import Bond Data</h1>
<p>Import a CSV file to add to bond database</p>
<br>
	<%= form_tag bond_import_csv_path, multipart: true do %>
		<%= file_field_tag :file %>
		<br>
		<%= submit_tag "Import" %>
	<% end %>